/* CSS Document */

.sidebar-nav {
    margin-top: 3em;
    list-style: none;
    margin-left: -1.5em;
}

.content {
    margin-top: 3em;
    border-left: 1px solid #ccc;
}
.current-user {
    border: 2px solid #077bff;
    color: #077bff;
    font-weight: bold;
    padding-left: .2em;
}
footer {
    padding-left: 1em;
}
input#name {
  color: red;
  font-size: 1.5em;
}
