{% extends 'catalog/base.html' %}

<!-- |*|*|*|*| DUBLIN CORE META ELEMENTS |*|*|*|*| -->
<!-- Version: 1.1 - Registration Authority: Dublin Core Metadata Initiative -->
{% block extra_head_tags %}
    <meta name="dc.title" CONTENT="{{ book.title }}">
    <meta name="dc.creator" CONTENT="{{ book.author }}">
    <meta name="dc.subject" CONTENT="{{ book.subject }}">
    <meta name="dc.description" CONTENT="{{ book.summary }}">
    <meta name="dc.publisher" CONTENT="{{ book.publisher }}">
    <meta name="dc.contributor" CONTENT="{{ book.contributor}}">
    <meta name="dc.date" CONTENT="{{ book.date }}">
    <meta name="dc.type" CONTENT="{{ book.genre }}">
    <meta name="dc.format" CONTENT="{{ book.format }}">
    <meta name="dc.identifier" CONTENT="{{ book.isbn }}">
    <meta name="dc.source" CONTENT="{{ book.source }}">
    <meta name="dc.language" CONTENT="{{ book.language }}">
    <meta name="dc.relation" CONTENT="{{ book.relation }}">
    <meta name="dc.coverage" CONTENT="{{ book.coverage }}">
    <meta name="dc.rights" CONTENT="{{ book.rights }}">
{% endblock %}

{% block title %}Index{% endblock %}

{% block content %}

  <h1>Title: {{ book.title }}</h1>
  <!-- NOTE: foreign key 'author' is the relation. you have to path both tables! -->
  <p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author.last_name }}, {{ book.author.first_name }}</a>
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div>
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{copy.due_back}}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{copy.imprint}}</p>
      <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>

{% endblock %}
