{% extends 'catalog/base.html' %}

<!-- |*|*|*|*| DUBLIN CORE META ELEMENTS |*|*|*|*| -->
<!-- Version: 1.1 - Registration Authority: Dublin Core Metadata Initiative -->
{% block extra_head_tags %}

{% endblock %}

{% block title %}Author Detail{% endblock %}

{% block content %}

  <h1>Author: {{ author.last_name }}, {{ author.first_name}}</h1>

  <p><strong>Birth:</strong> {{ author.date_of_birth}}</p>
  <p><strong>Death:</strong> {{ author.date_of_death }}</p>
  <p><strong>Born in:</strong> {{ author.born_in }}</p>
  <p><strong>Education:</strong> {{ author.education }}</p>
  <p><strong>Awards:</strong> {{ author.awards }}</p>
 <p>{{ author.pk }}</p>
{% for book in book_list.all %}
            <p>{{ book.title }}</p>
        {% endfor %}
    <!--{{ book.title }}{{ author.pk }}-->
{% endblock %}

<!--# TODO figure out getting the author-details page to show relative books -->

  <!--<div>
    <h4>Books</h4>
      <p> {{ author.first_name }}{{ author.book.title }}</p>
      <a href="{% url 'book-detail' book.author.pk %}">{{ book.author }}</a>
      <hr>
{% for book in book_list %}
            <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author }}) </li>
        {% endfor %}

  </div>-->